/* ===== Product Details ===== */
.product-details-main {
    background: #f8f9fa;
}


.details-card .product-image-wrapper {
    height: 100%;
    min-height: 360px;
    background: #f1f3f5;
    display: flex;
    align-items: center;
    justify-content: center;
}


.details-card .product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.price-box .price-value {
    font-size: 1.75rem;
    font-weight: 800;
}


.price-box .currency-unit {
    font-size: 1rem;
    color: #6c757d;
    margin-left: .25rem;
}


.product-description {
    line-height: 1.7;
}


.quantity-input {
    width: 90px;
}


@media (max-width: 992px) {
    .details-card .product-image-wrapper {
        min-height: 280px;
    }
}
