spring:
  application:
    name: SLLBackend
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/sll}
    username: ${DB_USER:sonbui}
    password: ${DB_PASS:sonbui}
    driver-class-name: org.postgresql.Driver
    hikari:
      minimum-idle: 5
      maximum-pool-size: 20
      idle-timeout: 30000
      connection-timeout: 20000
      auto-commit: true
      pool-name: sonbui
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        jdbc:
          time_zone: Asia/Ho_Chi_Minh

  servlet:
    multipart:
      enabled: true

server:
  port: 8080
